/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #cce0ff 0%, #ffffff 100%);
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Contenedor principal */
#root {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
}

/* Animación de entrada */
@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Títulos */
h1 {
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-in-out;
}

/* Efecto de sombra en el título */
h1:hover {
    color: #007BFF;
    text-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Botones */
button {
    background: #007BFF;
    color: white;
    margin-right: 2%;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: #0056b3;
    box-shadow: 0px 6px 12px rgba(0, 123, 255, 0.3);
}

button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(0, 123, 255, 0.4);
}

input{
    margin-right: 2%;
}

/* Inputs (si tienes campos de texto) */
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #007BFF;
    box-shadow: 0px 2px 6px rgba(0, 123, 255, 0.3);
}

/* Diseño responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}


footer {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}